<ul class="stout-list six columns">
  <li>
    <button>Drink</button>
    <h2>FunkyTown Stout</h2>
    <dl>
      <dt>ABV:
      </dt><dd>8.0%
      </dd><dt>OG:
      </dt><dd>1.074
    </dd></dl>
    <p class="rating">★★★★☆</p>
    <a href="#" class="details">Details</a>
    <span class="counter">1</span>
  </li>
  <li>
    <button>Drink</button>
    <h2>FunkyTown Stout Really Long Name</h2>
    <dl>
      <dt>ABV:
      </dt><dd>8.0%
      </dd><dt>OG:
      </dt><dd>1.074
    </dd></dl>
    <p class="rating">★★★★☆</p>
    <a href="#" class="details">Details</a>
    <span class="counter d_8">8</span>
  </li>
  <li>
    <button>Drink</button>
    <h2>FunkyTown Stout</h2>
    <dl>
      <dt>ABV:
      </dt><dd>8.0%
      </dd><dt>OG:
      </dt><dd>1.074
    </dd></dl>
    <p class="rating">★★★★☆</p>
    <a href="#" class="details">Details</a>
    <span class="counter">1</span>
  </li>
    <li>
    <button>Drink</button>
    <h2>FunkyTown Stout</h2>
    <dl>
      <dt>ABV:
      </dt><dd>8.0%
      </dd><dt>OG:
      </dt><dd>1.074
    </dd></dl>
    <p class="rating">★★★★☆</p>
    <a href="#" class="details">Details</a>
    <span class="counter">1</span>
  </li>
</ul>
