<div id="fb-login">
  {{#everyauth}}

  {{^facebook}}
  <a href="/auth/facebook" class="button fb">Sign in with Facebook</a>
  <h3>&mdash;or&mdash;</h3>
  {{/facebook}}

  {{/everyauth}}

  <a href="/stouts" class="button drink">Drink Now</a>
</div>

