<section id="fb-login">

  {{#unless everyauth.loggedIn}}
  <a href="/auth/facebook" class="button fb">Sign in with Facebook</a>
  <h3>&mdash;or&mdash;</h3>
  <a href="/auth/github" class="button fb">Sign in with Github</a>
  <h3>&mdash;or&mdash;</h3>
  {{/unless}}

  <a href="/stouts" class="button drink">Drink Now</a>
</section>

