<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>MtnSun Stout Month</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

  <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>

</head>

<body>
  <!-- Main container -->
  <div role="main" id="main" {{if( bodyclass.length ) { }}class="{{-bodyclass}}"{{ } }}>

    <header class="topbar">
      <div class="topbar-inner">
        {{#everyauth}}
          <h1>
          {{#loggedIn}}
            <a href="/stouts">Stout Month</a>
          {{/loggedIn}}
          {{^loggedIn}}
            <a href="/">Stout Month</a>
          {{/loggedIn}}
          </h1>
        {{/everyauth}}

        <form class="pull-left" action="">
          <input type="text" placeholder="Search">
        </form>

        <ul class="nav secondary-nav">
          {{#everyauth}}
            {{#loggedIn}}
            <li>
              <a href="/logout">Logout</a>
            </li>
            {{/loggedIn}}
          {{/everyauth}}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle">Sort</a>

            <ul class="dropdown-menu">
              <li><a href="#">A - Z</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </header>

    <div class="container">
      {{& body }}
    </div>

  </div>
  <!--
       Using the build tool? If yes, delete the following uncommented scripts and read
       the comments starting on line 29.
  -->

  <!-- Libraries -->
  <script src="/js/libs/jquery.js"></script>
  <script src="/js/libs/underscore.js"></script>
  <script src="/js/libs/backbone.js"></script>

  <!-- Application -->
  <script src="/app/namespace.js"></script>
  <script src="/app/modules/example.js"></script>
  <script src="/app/index.js"></script>

  <!--
       If using the build tool you can uncomment the following lines and use
       these instead.  They will toggle based on if you are using debug or
       release.
  -->

  <!--
  <script src="/assets/js/libs.js"></script>
  <script src="/assets/js/templates.js"></script>
  <script src="/assets/js/app.js"></script>
  -->

  <!--
      or if you're using the Stitch build task...
  -->

  <!--
  <script src="/dist/release/js/libs.js"></script>
  <script src="/dist/release/js/templates.js"></script>
  <script src="/dist/debug/js/modules.js"></script>
  <script src="/app/index.js"></script>
  -->
</body>
</html>
