<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>MtnSun Stout Month</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">


  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

  <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>


</head>

<body>
  <!-- Main container -->
  <div role="main" id="main" {{if( bodyclass.length ) { }}class="{{-bodyclass}}"{{ } }}>

    <header class="topbar">
      <div class="topbar-inner">
        {{#everyauth}}
          <h1>
          {{#loggedIn}}
            <a href="/stouts">Stout Month</a>
          {{/loggedIn}}
          {{^loggedIn}}
            <a href="/">Stout Month</a>
          {{/loggedIn}}
          </h1>
        {{/everyauth}}

        {{#search}}
        <form class="pull-left" action="">
          <input type="text" placeholder="Search">
        </form>
        {{/search}}

        <ul class="nav secondary-nav">
          {{#everyauth}}
            {{#loggedIn}}
            <li>
              <a href="/me">Profile</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
            {{/loggedIn}}
            {{^loggedIn}}
            <li>
              <a href="/auth/facebook">Login</a>
            </li>
            {{/loggedIn}}
          {{/everyauth}}

          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle">Sort</a>-->

            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="#">A - Z</a></li>-->
            <!--</ul>-->
          <!--</li>-->

        </ul>

      </div>
    </header>

    <div class="container">
      {{& body }}
    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="/js/src/libs.js"></script>
  <script src="/js/src/app.js"></script>

  <script>
    window.ea_loggedIn = '{{everyauth.loggedIn}}';
    {{#js_module}}
    require('{{js_module}}');
    {{/js_module}}
  </script>

</body>
</html>
