/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

body { color: #616161; }

.topbar h1 { color:#616161; float: left; font-size: 32px; margin: 0 12px 0 12px; line-height: 40px; }
.topbar h1 a { text-decoration: none; }
.topbar input { margin: 2px 0 0;  }
.topbar-inner { overflow: hidden; }
.topbar .nav { height: 40px; }

.container { margin-top: 60px; }


.stout-list {  }
.stout-list li { float:left; position: relative; width: 100%; }
.stout-list h2 { float:left; margin: 0; width: 260px; padding: 0 0 4px; font-size: 24px; line-height: 1; }
.stout-list button { float: left; margin: 4px 12px 0 0; }
.stout-list dl { float: left; width: 260px; margin: 0 0 12px 0; }
.stout-list dl dt { float: left; padding-right: 4px; }
.stout-list dl dd { float: left; padding-right: 8px; font-weight: bold; }
.stout-list .rating { float:left; clear: both;}
.stout-list .details { float:right; }
.stout-list .counter { position: absolute; top:0; right:0; min-width: 24px; height: 20px; text-align: center; font-size: 12px; line-height: 20px; color: #fff; background: #616161;

  -webkit-border-radius: 16px; 
     -moz-border-radius: 16px; 
          border-radius: 16px; 

  
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

/* #Page Styles
================================================== */


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .stout-list dl,
    .stout-list h2 { width: 206px;}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    .stout-list dl,
    .stout-list h2 { width: 206px;}
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .topbar form { display: none; }
    .stout-list dl,
    .stout-list h2 { width: 214px;}
  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
