/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

body { color: #616161; }


.form-row { float:left; width: 100%; }
.form-row textarea,
.form-row input[type=text] { width: 100%; }

.topbar h1 { color:#616161; float: left; font-size: 32px; margin: 0 12px 0 12px; line-height: 40px; }
.topbar h1 a { text-decoration: none; }
.topbar input { margin: 2px 0 0; }
.topbar-inner { overflow: hidden; }
.topbar .nav { height: 40px; }

.container { margin-top: 60px; }

.stout-detail header { float: left; width: 100%; position: relative;}
.stout-detail dl { float: left; width: 100%; margin: 0 0 12px 0; }
.stout-detail dl dt { float: left; padding-right: 4px; }
.stout-detail dl dd { float: left; padding-right: 8px; font-weight: bold; }


.stout-list {  }
.stout-list li { float:left; position: relative; width: 100%; }
.stout-list header { float: left; }
.stout-list h2 { float:left; margin: 0; width: 260px; padding: 0 0 4px; font-size: 24px; line-height: 1; }
.stout-list .button { float: left; margin: 4px 12px 0 0; }
.stout-list .description { float: left; clear: both; }
.stout-list dl { float: left; clear: both; margin: 0 0 12px 0; }
.stout-list dl dt { float: left; padding-right: 4px; }
.stout-list dl dd { float: left; padding-right: 8px; font-weight: bold; }
.stout-list .rating { float:left; clear: both;}
.stout-list .details { float:right; }
.container .counter { position: absolute; top:0; right:0; min-width: 24px; height: 24px; font-size: 20px; font-family: "Germania One"; text-align: center; line-height: 24px; color: #000; background: #ccc;
  -webkit-border-radius: 16px; 
     -moz-border-radius: 16px; 
          border-radius: 16px; 

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.counter.d_1  { background: #113F8C; color: #ccc; }
.counter.d_2  { background: #01A4A4; }
.counter.d_3  { background: #00A1CB; }
.counter.d_4  { background: #61AE24; }
.counter.d_5  { background: #D0D102; }
.counter.d_6  { background: #32742C; }
.counter.d_7  { background: #D70060; }
.counter.d_8  { background: #E54028; }
.counter.d_9  { background: #F18D05; }
.counter.d_10 { background: #F18D05; }

.admin,
#fb-login{ width: 300px; margin: 0 auto;}
.admin .button,
#fb-login .fb { font-size: 24px; width: 278px; text-align: center; }
#fb-login h3 { font-size: 16px; width: 300px; text-align: center; }
#fb-login .drink { font-size: 60px; width: 274;text-align: center; }


.fourohfour { width: 100%; }


/* #Page Styles
================================================== */


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}



  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .stout-list dl,
    .stout-list h2 { width: 206px;}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .stout-list dl,
    .stout-list h2 { width: 206px;}

    .topbar form { width: 160px; }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .topbar form { display: none; }
    .stout-list .description { display: none; }
    .stout-list dl,
    .stout-list h2 { width: 214px;}
    .stout-list li { border-bottom: 1px solid #eaeaea; }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     .stout-list dl,
    .stout-list h2 { width: 190px; }
  }

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
