/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

body { color: #616161; }


.form-row { float:left; width: 100%; }
.form-row textarea,
.form-row input[type=text] { width: 100%; }

.rating { font-size: 24px; line-height: 1; }
.rating a { text-decoration: none; }
.rating span { font-size: 24px; font-family: "Germania One"; color: #181818; }

.topbar h1 { color:#616161; float: left; font-size: 32px; margin: 0 12px 0 12px; line-height: 40px; }
.topbar h1 a { text-decoration: none; }
.topbar input { margin: 2px 0 0; }
.topbar-inner { overflow: hidden; }
.topbar .nav { height: 40px; }

.container { margin-top: 60px; }

.stout-detail header { float: left; width: 100%; position: relative;}
.stout-detail dl { float: left; width: 100%; margin: 0 0 12px 0; }
.stout-detail dl dt { float: left; padding-right: 4px; }
.stout-detail dl dd { float: left; padding-right: 8px; font-weight: bold; }

#stout-rating { float: left; width: 100%; }
#stout-rating label { width: 10%; float: left; margin: 0; font-weight: bold; font-size: 14px; color: #181818; padding: 0 0 0 4px; margin-right: -4px; }
#stout-rating fieldset { float: left; clear: both; width: 100%; padding-top: 10px; }
#stout-rating input[type=radio] { width: 10%; float: left; margin: 0; }


.stout-list {  }
.stout-list li { float:left; position: relative; width: 96%; padding: 2%;

  -webkit-border-radius: 16px; 
     -moz-border-radius: 16px; 
          border-radius: 16px; 

  
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}
.stout-list header { float: left; }
.stout-list h2 { float:left; margin: 0; padding: 0 0 4px; font-size: 24px; line-height: 1; }
.stout-list .button { float: left; margin: 4px 12px 0 0; }
.stout-list .description { float: left; clear: both; }
.stout-list dl { float: left; clear: both; margin: 0 0 12px 0; }
.stout-list dl dt { float: left; padding-right: 4px; }
.stout-list dl dd { float: left; padding-right: 8px; font-weight: bold; }
.stout-list .rating { float:left; clear: both;}
.stout-list .details { float:right; font-size: 20px; line-height: 32px; font-family: "Germania One"; text-decoration: none; }

.container .counter { position: absolute; top:10px; right:10px; min-width: 24px; height: 24px; font-size: 18px; font-family: "Germania One"; text-align: center; line-height: 24px; color: #000; background: #fff;
  -webkit-border-radius: 16px; 
     -moz-border-radius: 16px; 
          border-radius: 16px; 

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.stout-list .d_1  { background: hsl(0, 0%, 92%); }
.stout-list .d_2  { background: hsl(0, 0%, 82%); }
.stout-list .d_3  { background: hsl(0, 0%, 72%); }
.stout-list .d_4  { background: hsl(0, 0%, 62%); color: #000; }
.stout-list .d_5  { background: hsl(0, 0%, 52%); }
.stout-list .d_6  { background: hsl(0, 0%, 42%); }
.stout-list .d_7  { background: hsl(0, 0%, 32%); }
.stout-list .d_8  { background: hsl(0, 0%, 22%); }
.stout-list .d_9  { background: hsl(0, 0%, 12%); }
.stout-list .d_10 { background: hsl(0, 0%, 4%); }


.stout-list .d_5,
.stout-list .d_6,
.stout-list .d_7,
.stout-list .d_8,
.stout-list .d_9,
.stout-list .d_10 { color: #eaeaea; }

.stout-list .d_5 h2,
.stout-list .d_6 h2,
.stout-list .d_7 h2,
.stout-list .d_8 h2,
.stout-list .d_9 h2,
.stout-list .d_10 h2 { color: #eaeaea; }

.stout-list .d_5 .details,
.stout-list .d_6 .details,
.stout-list .d_7 .details,
.stout-list .d_8 .details,
.stout-list .d_9 .details,
.stout-list .d_10 .details { color: #eaeaea; }


/*.d_1  { background: #113F8C; color: #ccc; }*/
/*.d_2  { background: #01A4A4; }*/
/*.d_3  { background: #00A1CB; }*/
/*.d_4  { background: #61AE24; }*/
/*.d_5  { background: #D0D102; }*/
/*.d_6  { background: #32742C; }*/
/*.d_7  { background: #D70060; }*/
/*.d_8  { background: #E54028; }*/
/*.d_9  { background: #F18D05; }*/
/*.d_10 { background: #F18D05; }*/

.admin,
#fb-login{ width: 300px; margin: 0 auto;}

.admin .button,
.stout-detail .button,
#fb-login .fb { font-size: 24px; width: 278px; text-align: center; }
#fb-login h3 { font-size: 16px; width: 300px; text-align: center; }
#fb-login .drink { font-size: 60px; width: 274;text-align: center; }


.fourohfour { width: 100%; }

#leaderboard li { height: 330px; overflow: hidden; border: 1px solid #333; }

/* #Page Styles
================================================== */


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}



  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .topbar form { width: 160px; }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .topbar form { display: none; }
    .stout-list .description { display: none; }
    .stout-list dl,
    .stout-list h2 { width: 200px;}

    #stout-rating label,
    #stout-rating input[type=radio] { width: 20%; }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     .stout-list dl,
    .stout-list h2 { width: 190px; }
  }

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
