<ul class="stout-list twelve columns">
  {{#stouts}}
  <li>
    <button>Drink</button>
    <header>
      <h2>{{name}}</h2>
      <dl>
        <dt>ABV:
        <dd>{{abv}}
        <dt>OG:
        <dd>{{og}}
      </dl>
    </header>
    <p class="rating">★★★★☆</p>
    <a href="/stout/{{slug}}" class="details">Details</a>
    <span class="counter">0</span>
  </li>
  {{/stouts}}
</ul>
