{{#stout}}
<article class="stout-detail columns sixteen">
  <header>
    <h2>{{name}}</h2>
    <p class="rating"><span>{{rating}}</span> {{&starRating}}</p>
    <span class="counter">0</span>
  </header>

{{#loggedIn}}

{{#drink}}
{{#rated}}
<h3>My Rating: {{my_rating}}/5</h3>
{{/rated}}


{{^rated}}
<form id="stout-rating" action="/stout/{{slug}}/rate">
  <h2>Drank it? Rate it.</h2>
  <label>1</label>
  <label>2</label>
  <label>3</label>
  <label>4</label>
  <label>5</label>
  <fieldset>
    <input type="radio" name="rating" value="1">
    <input type="radio" name="rating" value="2">
    <input type="radio" name="rating" value="3">
    <input type="radio" name="rating" value="4">
    <input type="radio" name="rating" value="5">
  </fieldset>
</form>
{{/rated}}
{{/drink}}

{{/loggedIn}}

{{^loggedIn}}
<h2>Wanna rate it?</h2>
<a href="/auth/facebook" class="button fb">Sign in with Facebook</a>
{{/loggedIn}}

  <dl>
    <dt>ABV:
    <dd>{{abv}}
    <dt>OG:
    <dd>{{og}}
  </dl>
  <div class="details">
    <p>{{description}}</p>

    {{#malt}}
    <h3>Malt:</h3>
    <p>{{malt}}</p>
    {{/malt}}

    {{#hops}}
    <h3>Hops:</h3>
    <p>{{hops}}</p>
    {{/hops}}
  </div>
</article>
<div id="disqus_thread" class="columns sixteen"></div>
<script type="text/javascript">
  var
    disqus_shortname  = 'stoutmonth',
    disqus_url        = 'http://stoutmonth.com/stout/{{slug}}',
    disqus_identifier = '{{slug}}';


    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript class="columns sixteen">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{#loggedIn}}
<a href="/stout/{{slug}}/update">Edit</a>
{{/loggedIn}}

{{/stout}}
