{{#stout}}
<article class="stout-detail columns sixteen">
  <header>
    <h2>{{name}}</h2>
    <p class="rating">★★★★☆</p>
    <span class="counter">0</span>
    {{#everyauth}}
    {{#loggedIn}}
    <a href="/stout/{{slug}}/update">Edit</a>
    {{/loggedIn}}
    {{/everyauth}}
  </header>
  <dl>
    <dt>ABV:
    <dd>{{abv}}
    <dt>OG:
    <dd>{{og}}
  </dl>
  <div class="details">
    <p>{{description}}</p>

    {{#malt}}
    <h3>Malt:</h3>
    <p>{{malt}}</p>
    {{/malt}}

    {{#hops}}
    <h3>Hops:</h3>
    <p>{{hops}}</p>
    {{/hops}}
  </div>
</article>
<div id="disqus_thread" class="columns sixteen"></div>
<script type="text/javascript">
  var disqus_developer = 1;

  var
    disqus_shortname  = 'stoutmonth',
    disqus_url        = 'http://stoutmonth.com/stout/{{slug}}',
    disqus_identifier = '{{slug}}';


    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript class="columns sixteen">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/stout}}
